

<h1>Add a picture</h1>

<% if @picture.errors.any? %>
  <div>
    <% @picture.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
    <% end %>
  </div>
<% end %>

<%= form_for(@picture) do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to("Back to Pictures", "/pictures") %>
